/conf/general.yml
/conf/general.yml.deployed
/conf/crontab
/conf/crontab.deployed
/conf/httpd.conf
/conf/httpd.conf.deployed
/web/down.html

/web/mapserv.fcgi

/mapnik/osm-grey.xml
/mapnik/osm-grey-print.xml
/mapnik/osm-names.xml
/mapnik/osm-names-print.xml
